body{
    font-family: Arial;
    background-image: linear-gradient(45deg, #86FFF5, #007FFF, #173c42);
}
#teste{
    background-image: linear-gradient(45deg, #2a3b52, #0682ff, #144692,#4b85cc);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    
}
#login{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    
}
button{
    background-color: rgb(23, 119, 214);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    
}
button:hover{
    background-color: #009FF5;
    cursor: pointer;
}
